<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>教师</title>
    <link rel="stylesheet" th:href="@{/css/weui.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/centerIntro.css}" type="text/css"/>
</head>
<body>
<div class="intro_item_page">
    <article class="weui-article">
        <h1>教师</h1>
        <section>
            <h2 class="title"><strong>教师简介</strong></h2>
            <section>
                <h3><strong>孙学礼教授</strong></h3>
                <img src="">
                <p>
                    毕业于华西医科大学心理卫
                    生专业
                    中华医学会精神病学专委会
                    副主任委员
                    四川大学校工会副主席
                    西部精神医学协会会长
                    四川省精神病学会主任委员
                    国家职业医师考试专家委员
                    会副主任委员
                    2017年获得四川省五一劳动奖章
                    心理教学专长：普通心理学及异常心理学
                </p>
            </section>
            <section>
                <h3><strong>马渝根教授</strong></h3>
                <p>
                    毕业于北京大学心理系
                    卫生部心理咨询与治疗专业
                    委员会委员
                    中国行为医学专业委员会委员
                    中华医学会行为医学专委会常
                    务委员
                    卫生部性病专家咨询委员会委员
                    心理教学专长：普通心理、教育心理，青少年发展心理、性心理学
                </p>
            </section>
            <section>
                <h3><strong>张伟教授</strong></h3>
                <p>
                    毕业于华西医科大学
                    四川大学华西医院党委书记
                    中华医学会精神病学专委会委员
                    四川省咨询业协会委员
                    四川省心理卫生协会理事
                    四川省医学会精神病专委会委员
                    兼秘书
                    中国法医学会司法精神病学专委会委员
                    心理教学专长：病理心理学、心理诊断及心理治疗、职业素养及法规
                </p>
            </section>
            <section>
                <h3><strong>胡峻梅教授</strong></h3>
                <p>
                    四川大学华西法医学院法医精神病学教研室教授
                    华西医院心理卫生中心教授
                    四川省行为医学专委会主任委员
                    西部精神医学女性专委会副主任委员
                    承担过国家及省部级课题多项
                    共发表学术论文六十余篇
                    参编或主编教材或书籍十余部
                    对病理心理及心理咨询技能有较多探索
                    偏爱认知心理
                </p>
            </section>
            <section>
                <h3><strong>游永恒教授</strong></h3>
                <p>
                    四川师范大学教师教育学院院长、
                    硕士生导师省教育厅督导四川省政协委员心理教学专长：大、中、小学校学生的心理问题与咨询；
                    中国教育改革研究
                </p>
            </section>
            <section>
                <h3><strong>吴薇莉教授</strong></h3>
                <p>
                    毕业于西南师范大学教育心理系
                    ■四川心理学会理事
                    ■四川省心理学会应用心理专业
                    委员会副主任
                    ■四川省心理学会学校心理健康
                    教育专委会副主任
                    ■四川省医学会精神病学专委会
                    常务委员，心理咨询与心理治疗学
                    组副组长
                    ■四川省教育厅高校心理健康专家组成员
                    中国心理学会注册心理督导师
                    ■心理教学专长：心理测验与评估、儿童及青少年发展心理学，青少年成瘾行为
                </p>
            </section>
            <section>
                <h3><strong>卢勤教授</strong></h3>
                <p>
                    成都大学心理健康教育中心主任
                    北京师范大学教育学本科，
                    北京大学心理系硕士
                    中国心理学会 “注册督导师”
                    中德心理治疗研究院常务理事
                    四川省心理咨询师协会 副会长
                    四川省心理学会高校心理健康教育专委会副主任
                    心理咨询专长：
                    儿童青少年心理、婚姻家庭心理
                </p>
            </section>
            <section>
                <h3><strong>刘培毅教授</strong></h3>
                <p>
                    师从何慕陶教授研究家庭心理卫生(1986-1989)
                    接受来自德国专家的系统家庭治疗培训(1988-1994)
                    师从刘协和教授开始抑郁症的心理治疗研究(1995-1998)
                    师从美籍华人张忆家博士学习认知行为治疗(1995-1996)
                    中德高级心理治疗师连续培训项目一期学员(1997-1999)
                    相关工作经历：
                    华西心理卫生中心精神科医生17年（1984-2001）
                    较早在国内开展心理治疗与培训工作（1996，迄今）
                    心理治疗访谈时数逾3000小时。
                    中德班二期培训项目中方教员(2000-2001)
                    中国心理学会注册系统首批注册督导师(2006,迄今)
                    西南心理咨询培训中心教授（2006，迄今）
                    现职：成都市政协科教医卫体委员会副主任
                </p>
            </section>
            <section>
                <h3><strong>张岚，博士，教授</strong></h3>
                <p>
                    四川大学华西医院心理卫生中心
                    心身医学和临床心理部负责人
                    中国心理学会首批注册心理师和督导师
                    中华医学会心身医学分会常务委员
                    中国心理卫生协会认知行为治疗（CBT）专委会副主任委员
                    中国医师协会精神病学分会认知行为治疗工作委员会副主任委员
                    中华医学会精神病学分会第六届委员会青委会副主任委员
                    四川省医师协会精神科分会心身医学和心理治疗专委会主任委员
                    四川省咨询师协会常务理事
                    擅长领域：认知行为治疗、青少年和成人的心理咨询和治疗等
                </p>
            </section>
            <section>
                <h3><strong>李进教授</strong></h3>
                <p>
                    华西医院心理卫生中心心身病房教授。
                    从事精神医学和医学心理学医疗、教学和科研工作二十余年。从事抑郁、焦虑障碍和心身疾病病因和治疗研究以及自杀的预防与研究多年
                    2006年获得NIMH资助的中美合作项目资金，在美国Rochester大学精神科自杀预防研究中心访问学习1年。
                    擅长抑郁和焦虑障碍、进食障碍、紧张性头痛、不明原因眩晕、心悸、胃肠道症状等躯体不适及各种心身疾病的临床诊治；擅长婚姻、家庭问题和大中学生心理问题的心理咨询。
                    学会任职：
                    四川省心理卫生协会理事
                    西部精神医学协会女性心身医学专委会委员
                    四川省医学会心身医学学组副组长
                    四川省预防医学会行为医学分会常务委员
                    四川省医师协会精神科医师分会第一届心身医学和心理治疗专业委员会委员
                </p>
            </section>
            <section>
                <h3><strong>周茹英教授</strong></h3>
                <p>
                    医学博士，四川大学精神卫生学专业。现任：四川省西部精神医学协会常务副会长四川省心理协会医学心理专委会委员
                    国家心理咨询师首届培训讲师中国女医师学会委员
                    曾任：华西医院心理卫生中心副教授
                    日本神户大学签约教授
                    擅长培训领域：压力管理与应对 / 职业倦怠 / 情绪管理 / 心身健康 / 平衡的生活 / 婚恋家庭与社会 / 健康成长：青少
                    年心理 / 亲子关系 / 快乐的女性 /老年心理卫生/心身健康 / 性心理发展和咨询 / 关注男性健康
                </p>
            </section>
            <section>
                <h3><strong>张霞副教授</strong></h3>
                <p>
                    发展与教育心理学硕士，注册二级心理咨询师，
                    韦氏儿童智力测验主试及主试资格培训讲师，
                    现就职于四川师范大学，
                    教学专长：基础心理学、心理测量学、心理健康教育。
                </p>
            </section>
            <section>
                <h3><strong>谢玲副教授</strong></h3>
                <p>
                    医学心理学博士、心理治疗师、精神科医师、心理治疗督导师，
                    西部精神医学协会女性心身健康专委会委员，
                    四川省心理学会医学心理专委会委员，
                    四川咨询师行业协会理事。CAPA（中美精神分析协会）成员。
                    成都精神分析协会（CAPA）学术委员会及伦理委员会委员。
                </p>
            </section>
            <section>
                <h3><strong>刘阳副教授</strong></h3>
                <p>
                    四川大学华西医院心理卫生中心副教授，医疗组长、心理治疗师，
                    专业方向：心身疾病与心理治疗。现任：四川省医师协会精神科分会秘书长，
                    心身医学与心理治疗专委会委员；
                    西部精神医学协会青年医师专委会委员、
                    疼痛专委会委员。西南心理咨询师培训中心兼职教师。
                    中德CBT第四期学员。
                    2011-2013完成中德心身医学与心理治疗系统培训。
                </p>
            </section>
            <section>
                <h3><strong>刘书君副教授</strong></h3>
                <p>
                    西南咨询师培训中心副教授、督导师
                    四川音乐学院音乐治疗专业讲师
                    劳动部国家心理咨询师二级综合评审专家委员
                    四川省总工会特聘心理专家
                    成都市民政局社工继续教育专家讲师
                    成都市委党校“心理调适”项目专家讲师
                    “SOS”特聘专家讲师
                    四川省西部精神医学协会培训部主管
                    长期从事心理学教学、研究、培训工作、心理咨询、音乐治疗研究工作。
                    擅长领域：家庭婚姻关系、亲子关系、代际关系、人际交流、情绪管理、压力应对、心身健康、艺术文学与心理、人生哲学与群体文化。
                </p>
            </section>
            <section>
                <h3><strong>万涛副教授</strong></h3>
                <p>
                    中共成都市委党校、成都行政学院领导科学教研部副教授，
                    副主任，主要从事心理健康、公共管理等方面的教学和研究。
                    承担《压力管理与心理调适》、《熔炼团队拓展训练》、
                    《当代公共管理的理论与创新》、《公务员执行力特训》等课程，
                    长期在成都市委党校、四川省委党校、成都各区县党校、四川省税校、
                    成都工会干部学校等地从事干部心理健康方面的培训工作。
                </p>
            </section>
            <section>
                <h3><strong>曾凡敏，女，讲师</strong></h3>
                <p>
                    四川大学华西临床医学院精神病与精神卫生学专业博士，
                    研究方向为临床心理咨询与治疗、心身疾病及心身医学；
                    是中国心理学会临床与咨询心理学注册系统注册心理咨询师（注册号：X-13-056）。
                    现就职于西南民族大学社会学与心理学学院。
                    参与多项课题研究，发表学术论文十余篇，参编专著2本。
                    具有比较丰富的心理学、咨询心理学、社会心理学等课程的授课经验，
                    擅长临床心理咨询与治疗，接受过多次国内外专业水平较高的培训和自我成长学习。
                    有较丰富的临床心理咨询与治疗经验，参与完成了多期咨询督导教学。
                </p>
            </section>
        </section>
    </article>
</div>
</body>
</html>