<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>教学方式和特点</title>
    <link rel="stylesheet" th:href="@{/css/weui.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/centerIntro.css}" type="text/css"/>
</head>
<body>
<div class="intro_item_page">
    <article class="weui-article">
        <h1>教学方式和特点</h1>
        <section>
            <h2 class="title"><strong>学员管理规范</strong></h2>
            <section>
                <h3><strong>督导</strong></h3>
                <p>
                    上课后第4周开始督导，
                    督导分组、分时间进行（周三、周五、周六），学员不能随便调组（每人只能参加一个督导组学习）。
                    督导分组报名时间：另行通知
                </p>
            </section>
            <section>
                <h3><strong>班主任工作</strong></h3>
                <p>
                    班主任：
                    冯驰    17708058867
                    陈俊名  18010643213
                    课堂教学质量管理
                    定期收集学员对教学工作的意见和建议
                </p>
            </section>
            <section>
                <h3><strong>班长工作</strong></h3>
                <p>
                    将在开学后选举班长
                    （周末班和晚班各2人），推荐、自荐
                    班长工作：
                    中心与学员联系的桥梁
                    及时反应学员心声，
                    组织学员团体活动，
                </p>
            </section>
        </section>
    </article>
</div>
</body>
</html>