<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>招生</title>
    <link rel="stylesheet" th:href="@{/css/weui.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/centerIntro.css}" type="text/css"/>
</head>
<body>
<div class="intro_item_page">
    <article class="weui-article">
        <h1 class="title"><strong>招生简章</strong></h1>
        <section>
            <section>
            <p>
                四川西南心理咨询师培训中心是经四川省人力资源和社会保障厅批准的专业培训机构，由四川大学华西医院心理卫生中心主办。中
                心拥有全国一流的教学环境和教学设施，一批长期从事心理咨询及心理治疗的专家和一支教学经验丰富的师资队伍。专门针对心理
                咨询师国家职业资格考试，面向社会培训心理咨询专业人员。经培训合格者，可参加国家心理咨询师职业资格考试。
            </p>
            </section>
            <section>
                <h3><strong>招生对象：</strong></h3>
                <p>
                      大专院校、中小学教育工作者、高校学生、医务人员、社区社会工作者、公务员、行政管理人员、公安干警等需从事心理辅导
                    和心理支持工作的专业人员及有志于从事心理咨询与治疗行业的人员；以及愿意提升自我心理素质的人员。
                </p>
            </section>
            <section>
                <h3><strong>教学特点：</strong></h3>
                <p>
                    <strong>大课：</strong>采用全国统编教材《心理咨询师国家资格培训教程》，紧扣考试大纲，全面系统地讲授普通心理学
                    、社会心理学、发展心理学、异常心理学和咨询心理学理论知识，传授相关的心理咨询技能。
                </p>
                <p>
                    <strong>讲座：</strong>以专家讲坛的形式，就心理咨询活动中普遍关注的话题进行广泛而深入的专题探讨
                </p>
                <p>
                    <strong>督导：</strong>实行导师督导课，为学员提供咨询技能训练、督导和咨询实践
                </p>
                <p>
                    <strong>其他：</strong>中心在心理咨询师国家考试之际，另增 <strong>“论文指导班”</strong>。突出讲授论文撰写技巧、论文写作，个性化辅导以及论文答辩
                    的现场模拟等；<strong>“考前应试班”</strong>将系统进行笔试考点的深度解析、应试技能的全面提升，笔试的现场模拟。
                </p>
            </section>
            <section>
                <h3><strong>培训形式：培训分晚班和周末班</strong></h3>
                <p>
                    周末班：（每周六、日上午9：00-11：30，下午1：00-4：00）
                    晚班：（每周一、二、四晚7：00-10：00，每周日下午1：00-4：00）
                </p>
            </section>
            <section>
                <h3><strong>开班时间：</strong></h3>
                <p>
                    滚动招生、随时插班。每年预计开设三期培训班
                    第46期将于2017年8月 26 日开班
                </p>

            </section>
            <section>
                <h3><strong>报名时间：</strong></h3>
                <p>
                    周一至周五上午8：30—11：30，下午2：00—5：30
                </p>
            </section>
            <section>
                <h3><strong>报名说明：</strong></h3>
                <p>
                    携带本人免冠照片两寸、一寸各1张
                </p>
            </section>
            <section>
                <h3><strong>报名地址：</strong></h3>
                <p>
                    成都市国学巷37号，邮编610041
                    四川大学华西医院
                    华西临床医学院第八教学楼405室，心理咨询师培训中心办公室
                </p>
            </section>
            <section>
                <h3><strong>垂询方式：</strong></h3>
                <p>
                    电 话：   (028) 85422621－付老师
                    苗老师:团体报名、培训项目)
                    <a>http:// www.xinlipx.com</a>
                </p>
            </section>
            <section>
                <p align="right">
                    华西医院心理卫生中心<br>
                    四川西南心理咨询师培训中心<br>
                    2017.7.
                </p>
            </section>
        </section>
    </article>
</div>
</body>
</html>