<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>华西心理卫生中心</title>
    <link rel="stylesheet" th:href="@{/css/weui.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/centerIntro.css}" type="text/css"/>
</head>
<body>
<div class="intro_item_page">
    <article class="weui-article">
        <h1>华西心理卫生中心</h1>
        <section>
            <h2 class="title"><strong>中心介绍</strong></h2>
            <section>
                <h3><strong>中心简介</strong></h3>
                <p>
                    四川西南心理咨询师培训中心是经四川省人力资源和社会保障厅批准的专业培训机构，由四川大学华西医院心理卫生中心主办。
                    本中心师资力量雄厚，集中了华西医心理卫生中心的专家并聘请了来自北京大学、四川师大、成都大学等省内外的多位专家。
                </p>
            </section>
            <section>
                <h3><strong>中心教学特色</strong></h3>
                <p>
                    高级职称教师90%<br>
                    课程设置包括：<br>
                    大课讲授<br>
                    内涵丰富的专题讲座<br>
                    小组督导教学<br>
                    另开考前应试班、论文指导班
                </p>
            </section>
            <section>
                <h3><strong>培训与鉴定</strong></h3>
                <p>
                    目前已经举办心理咨询师培训班45期，招收学员13400余人（含重复培训）
                    完成国家心理咨询师统一鉴定考试33次
                    鉴定合格人数：二级心理咨询师1069人
                    三级心理咨询师3952人      （占参加考试人员的  50-60%。）
                </p>
            </section>
            <section>
                <h3><strong>远程教学</strong></h3>
                <p>
                    本中心设立了远程教学
                    已经成功开通自贡、宜宾、绵阳、广元、南充、西昌、彭州、达州、雅安、攀枝花、乐山、德阳培训点
                    本期正在直播的有自贡、广元、攀枝花、绵阳、西昌等教学点。
                </p>
            </section>
            <section>
                <h3><strong>培训中心的社会影响</strong></h3>
                <p>
                    2004年四川民政厅自律诚信建设先进单位
                    2007年国家民政部自律诚信建设先进单位
                    2004年全国第一支现场心理危机干预队成立
                    2008年5.12地震灾害后积极组建、参加卫生部心理危机干预医疗队
                    2010年玉树地震后对灾区病人进行心理危机干预
                    2010年受省政府委托我中心专家及经中心培训的心理咨询师赴深圳富士康集团进行心理援助
                    2012年为都江堰义务培训150名心理咨询师
                    2013年为雅安地震灾区义务培训180名心理咨询师
                    接受多项世界各地对地震灾区的心理援助项目
                    对地震灾区的心理援助队伍进行长期培训
                    对地震灾区的心理援助仍在延续
                </p>
            </section>
            <section>
                <h3><strong>我们的网址：</strong></h3>
                <p>
                    http://www.xinlipx.com
                </p>
                <p>
                    及时了解课程变动，中心动态
                    及时了解考试信息
                    学员之间进行交流
                    实现课件下载等功能
                    <strong>进入方式：</strong>
                    本期成都学员在学员入口输入真名后缀46
                    如：刘勤劳46
                    广元学员在学员入口输入真名后缀46gy
                    如：刘勤劳46gy
                    绵阳学员在学员入口输入真名后缀46my
                    如：刘勤劳46my
                    西昌学员在学员入口输入真名后缀46xc
                    如：刘勤劳46xc
                    攀枝花学员在学员入口输入真名后缀46pzh
                    如：刘勤劳46pzh
                    自贡学员在学员入口输入真名后缀46zg
                    如：刘勤劳46zg
                    输入初始密码：123456
                    输入验证码
                    提示：不必另行注册我们已经为你们注册
                </p>
            </section>
            <section>
                <h3><strong>我们的QQ群(成都): </strong></h3>
                <p>
                    569311291
                    624320549
                </p>
            </section>
        </section>
    </article>
</div>
</body>
</html>