.login_menu_container{
    margin:auto;
    margin-top:180px;
    float: none!important;
    background: rgba(158, 158, 158, 0.41);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888888;
    -webkit-box-reflect: below 5px linear-gradient(transparent 30%,rgba(0,0,0,.5));
}
.login_menu_container > h3{
    text-align: center;
}
.username_container,.password_container{
    margin-top:20px;
}
.longin_container{
    margin-top: 20px;
}
.longin_container > button{
    float: right;
}