.itemView{
    float:left;
    width: 33.33%;
    text-align: center;
}
.itemFont{
	height:50px;
	line-height:50px;
	padding-bottom:11px;
	font-size:16px;
	color: #868686;
}
.fontSelect{
	color:#75BDEA;
    border-bottom:4px solid #75BDEA;
}

.visit_courseList{
	background-color:white;
	height:120px;
	width:100%;
	border-bottom:1px solid #DDDCDC;
}
.visit_courseList_img{
	width:115px;
	height:85px;
	border-radius:10px;
	margin:17px 0 0 20px;
	float:left;
}
.visit_courseList_text{
	font-size:17px;
	width:210px;
	float:left;
	height:100%;
	padding:20px 20px 0 10px;
}

.visit_courseList_title{
	clear:both; 
	word-break:keep-all;
	whitewhite-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.visit_courseList_author{
	font-size:16px;
	color: #868686;
}
.visit_courseList_info{

	margin-top:12px;
	font-size:13px;
    color: #868686;
}
.visit_courseList_info img{
	width:18px;
	float:left;
}
.visit_courseList_eye{
	float:left;
	margin:-2px 0 0 2px;
}
.visit_courseList_heart{
    float:left;
    margin:-2px 0 0 2px;
}
.visit_courseList_date{
	float:right;
	margin-top:-2px;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.visit_courseList_end{
	width:100%;
	text-align: center;
	margin-top:15px;
	margin-bottom:15px;
	font-size:13px;
	color:#898989;
}
.visit_null_sun{
	width:110px;
	margin-top:35%;
}
.visit_null_text{
	margin-top:2px;
	color:#898989;
	font-size:16px;
}
.visit_null_button{
	width:70px;
	height:35px;
	border:1px solid #75BDEA;
	line-height:30px;
	background-color:white;
	color:#75BDEA; 
	font-size:15px;
	margin:15px auto 0  auto;
	border-radius:5px;
}
#midItems{
	width: 100%;height:50px;background-color: white;border-bottom:1px solid #dddcdc;
}