<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>观看历史</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jweixin-1.0.0.js}"></script>
    
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/weui.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/history.css}" type="text/css"/>
</head>
<body style="background-color:#EBEBEB;">
    <div class="history_header navbar navbar-inverse navbar-fixed-top">
        <div class="history_delete" action="0">
            <img th:src="@{/images/history/delete.png}" />
        </div>
    </div>
    <div class="history_list"></div>
    <div class="history_last">暂时只有这么多</div>
    <div class="history_footer navbar navbar-inverse navbar-fixed-bottom">
        <div class="history_footer_selectAll" action="0">
            <img class="history_footer_all_img" th:src="@{/images/history/circle.png}"/>
            <span class="history_footer_all_text">全选</span>
        </div>
        <div class="history_footer_delete" action="0">删除</div>
    </div>
</body>
<script type="text/javascript" th:src="@{/js/history.js}"></script>
<script type="text/javascript" th:src="@{/js/dialog.js}"></script>
<script type="text/javascript" th:src="@{/js/ajax.js}"></script>
</html>