<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>完善资料</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jweixin-1.0.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/image-file-visible.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-form.js}"></script>
    
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/weui.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/signupInfo.css}" type="text/css"/>
</head>
<body style="background-color:#EBEBEB;">
<form action="updateHeadImg" id="user_form" method="post"  enctype="multipart/form-data" >
    <div class="signupInfo_item" style="height:110px;line-height:110px;">
    <span>上传头像</span>
        <a href="javascript:;" class="file" id="file_a" >
            <img id="image-hide" th:src="@{/images/signup/signInfo_add.png}"  style="width:80px;height:80px;  margin:-2px 0 0 -3px;"  />
            <div id="image-wrap"  style="width:80px;height:80px; margin:-18px 0 0 -3px;"></div>
            <input name="file" id="file"  type="file" accept="image/*;capture=camera"  />
            <input type="hidden" id="headUrl" name="imgUrl" />
        </a>
    </div>
</form>
    <div class="loadImg_notice"></div>
    <div class="weui-progress__bar" style="display: none;"><div class="weui-progress__inner-bar js_progress"></div></div>
    <div class="signupInfo_item" style="margin-top:6px;"><span>手机号</span>
    </div>
    <div class="signupInfo_item"><span>姓名</span><input id="username" placeholder="请输入姓名"/></div>
    <div class="signupInfo_item"><span>性别</span>
        <div class="sex-group pull-right">
            <span class="span-sex male pull-left sex-active">男</span>
            <span class="span-sex female pull-left">女</span>
            <input type="hidden"  id="sex" name="sex" />
        </div>
    </div>
    <div class="signupInfo_item"><span>出生日期</span>
    <div class="normal-right pull-right" style="margin-right:-20px;">
            <input class="weui-input" type="date" style="float:none;width:135px;" id="birthday"  name="birthDay" />
        </div>
    </div>
    <a id="modifySubmit" class="sigunupInfo_submit">提交</a>
</body>
<script type="text/javascript" th:src="@{/js/modifyInfo.js}"></script>
<script type="text/javascript" th:src="@{/js/dialog.js}"></script>
<script type="text/javascript" th:src="@{/js/ajax.js}"></script>
<script th:inline="javascript">
$(document).ready(function(){
    //图片显示插件
    $.imageFileVisible({
    wrapSelector: "#image-wrap",
    fileSelector: "#file",
    width:80,
    height:80
    });
});
var userInfo = [[${userInfo}]];
</script>
</html>