<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>课程报名</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/weui.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/signup.css}" type="text/css"/>
</head>
<body style="background-color:#EBEBEB;">
<div class="signup_top"> 四川西南心理咨询师培训班(<span id="periodNum" th:text="${version}"></span>期)</div>
<div class="signup_allCourseImg"><img th:src="@{/images/signup/allCourse.png}" /></div>
<div class="signup_allCourseDiv">
    <div class="sign_allCourseDvi_title">
    </div>
    <div class="sign_allCourse">
        <div class="sign_allCourse_price"><span style="font-size:16px;">￥</span><span id="allCourse_price"></span></div>
        <div class="sign_allCourse_button">
            <a id="aEnroll" class="sign_allCourse_btn_sign">报名</a>
            <a id="aDetil" class="sign_allCourse_btn_desc">详情</a>
        </div>
    </div>
</div>
<div class="signup_singleCourseImg"><img th:src="@{/images/signup/singleCourse.png}" /></div>
<div class="signup_singleCourseContent" style="width:100%;"></div>
<div class="center_footImg"><img th:src="@{/images/center/center_footer_img.png}" /></div>
</body>
<script type="text/javascript" th:src="@{/js/signup.js}"></script>
<script type="text/javascript" th:src="@{/js/dialog.js}"></script>
<script type="text/javascript" th:src="@{/js/ajax.js}"></script>
</html>