<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>听课</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper-3.4.1}"></script>
     
    <link rel="stylesheet" th:href="@{/css/swiper-3.4.1.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/weui.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/visit.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css"/>
</head>
<body style="background-color:#EBEBEB;">
    <!--中间三个选项div-->
    <div class="navbar navbar-inverse navbar-fixed-top" id="midItems"></div>    
    <div class="swiper-container" style="width: 100%;margin:50px 0 60px 0;">
        <div class="swiper-wrappersssssss" >

        </div>
    </div>



    <!-- 底部导航 -->
    <div  class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="weui-tabbar" style="height:60px;">
            <a  type="index" class="weui-tabbar__item">
                <img th:src="@{/images/index/indexIcon.png}" class="weui-tabbar__icon"/>
                <p class="weui-tabbar__label footer_font">主页</p>
            </a>
            <a  type="visitIndex" class="weui-tabbar__item item_act">
                <img th:src="@{/images/index/visitIcon_selected.png}"  class="weui-tabbar__icon"/>
                <p class="weui-tabbar__label item_act">全部课程</p>
            </a>
            <a  type="myCenterIndex" class="weui-tabbar__item">
                <img th:src="@{/images/index/centerIcon.png}"  class="weui-tabbar__icon"/>
                <p class="weui-tabbar__label footer_font">我的</p>
            </a>
        </div>
    </div>
    <!-- 底部导航end -->
</body>
<script type="text/javascript" th:src="@{/js/visit.js}"></script>
<script type="text/javascript" th:src="@{/js/footer.js}"> </script>
<script type="text/javascript" th:src="@{/js/dialog.js}"> </script>
<script type="text/javascript" th:src="@{/js/ajax.js}"> </script>
</html>